- header "Edit note categories"
= styled_label_for(resource)
= render_comments resource
.row
  .span8
    = simple_form_for resource, :url => admin_path(resource), :as => :admin, :wrapper => :inline, :html => {:class => "form-stacked"} do |f|
      %fieldset
        %legend Category list
        .inputs
          = f.input :category_list, :label => false, :input_html => { :class => 'span6' }
      .actions
        = f.button :submit, :class => 'primary'

  .span8
    = render_comments_form resource
