!!! 5
%html(lang="en")
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => "/"}= title
          %ul.nav
            %li.active
              %a(href = "/") Home
          - if current_user
            %p.pull-right
              = link_to "Sign out (#{current_user.full_name})" , destroy_user_session_path, :method => :delete
          - else
            %form.pull-right
              %a.btn.primary{:href => user_omniauth_authorize_path(:google_apps)} Sign in

    .container
      .content
        .page-header
          %h1= title
          = flash_message
        .row
          .span16
            = yield
      %footer
        %p &copy; Ubilabs 2011
