!!! 5
%html(lang="en")
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => "/"}= title
          = navigation
          %form.pull-right
            - if user_signed_in?
              = link_to "I'm happy", new_green_note_path, :class => 'btn success'
              = link_to "Puke into the box", new_red_note_path, :class => 'btn danger'
            = account_button

    .container
      .content
        .page-header
          %h1= title
          = flash_message
        .row
          .span14
            = yield
      %footer
        %p &copy; Ubilabs 2011
